---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="AlexaVolt">
  <Header />
  <main class="p-20 text-center">
    <h1 class="text-5xl font-bold text-blue-600">Energie verde</h1>
    <p>Energie verde!</p>
  </main>
</Layout>